<div class="text-center">
	<div class="col-xs-12">
		<div class="col-md-2 hidden-xs"></div>
		<div class="col-md-4 col-sm-6">
			<a ui-sref="management" style="color: rgb(51, 51, 51);"><span class="glyphicon glyphicon-list-alt" style="font-size: 150px"/></a>
			<h3>Bạn là quản trị viên</h3>
			<p>Click vào đây để tạo và quản lý cuộc thi.</p>
		</div>
		<div class="col-md-4 col-sm-6">
			<a ui-sref="student" style="color: rgb(51, 51, 51);"><span class="glyphicon glyphicon-education" style="font-size: 150px"/></a>
			<h3>Bạn là thí sinh</h3>
			<p>Click vào đây để tham gia các cuộc thi.</p>
		</div>
		<div class="col-md-2 hidden-xs"></div>
	</div>
</div>