<div class="text-center">
	<div class="col-xs-12">
		<div class="col-md-2 hidden-xs"></div>
		<div class="col-md-4 col-sm-6">
			<a ui-sref="management" style="color: rgb(51, 51, 51);"><span class="glyphicon glyphicon-list-alt" style="font-size: 150px"/></a>
			<h3>{{'home.you.are.admin' | translate}}</h3>
			<p>{{'home.you.are.admin.go' | translate}}</p>
		</div>
		<div class="col-md-4 col-sm-6">
			<a ui-sref="student" style="color: rgb(51, 51, 51);"><span class="glyphicon glyphicon-education" style="font-size: 150px"/></a>
			<h3>{{'home.you.are.student' | translate}}</h3>
			<p>{{'home.you.are.student.go' | translate}}</p>
		</div>
		<div class="col-md-2 hidden-xs"></div>
	</div>
</div>