<h1>List Problem</h1>
<div class="col-xs-12">
	<div class="col-xs-4">
		<a class="btn btn-primary" ng-click="createProblem()">Add new Problem</a>
	</div>
	<div class="col-xs-4 pull-right">
	  <label for="search">items per page:</label>
	  <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
	</div>
</div>
 <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Time limit</th>
        <th>Create date</th>
        <th>Modify date</th>
        <th>Version</th>
        <th>Number of test case</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr dir-paginate="problem in listProblem | itemsPerPage: pageSize">
      	<td>
      		{{problem.name}}
      	</td>
      	<td>
      		{{problem.timeLimit}}
      	</td>
      	<td>
      		{{problem.createdDate | date: 'dd/MM/yyyy hh:mm:ss'}}
      	</td>
      	<td>
      		{{problem.updateDate | date: 'dd/MM/yyyy hh:mm:ss'}}
      	</td>
      	<td>
      		{{problem.version}}
      	</td>
      	<td>
      		{{problem.listTestCase.length}}
      	</td>
      	<td>
      		<a class="btn btn-primary" ng-click="updateProblem(problem.id)">Edit</a>
      	</td>
      	<td>
      		<a class="btn btn-danger" ng-click="deleteProblem(problem.id)">Delete</a>
      	</td>
      </tr>
	</tbody>
</table>
 <div class="text-center">
	<dir-pagination-controls boundary-links="true" on-page-change="" template-url="views/dirPagination.tpl.html"></dir-pagination-controls>
</div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="closeForm()">&times;</button>
          <h4 ng-if="!problem.id" class="modal-title">Add new problem</h4>
          <h4 ng-if="problem.id" class="modal-title">Update problem</h4>
        </div>
        <div class="modal-body">
			<div class="row main" style="margin: 0 15px;">
				<div class="main-login main-center" style="max-width: 100%;">
					<div class="form-group">
						<label for="name" class="cols-sm-2 control-label">Problem name</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" name="name" id="name"  placeholder="Enter Problem's name"
								ng-model="problem.name" required="required"/>
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label for="name" class="cols-sm-2 control-label">Time limit</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
								<input type="number" class="form-control" name="name" id="name"  placeholder="Enter time limit"
								ng-model="problem.timeLimit" required="required"/>
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label for="name" class="cols-sm-2 control-label">Problem file</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
								<input type="file" class="form-control" name="name" id="name"  placeholder="Enter your Name"
								file-model="problem.problemFile" accept=".pdf" required="required"/>
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label for="name" class="cols-sm-2 control-label">Test case input</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
								<input type="file" class="form-control" name="name" id="name"  placeholder="Enter your Name"
								file-model="problem.testCaseInput" accept=".txt"/>
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label for="name" class="cols-sm-2 control-label">Test case output</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
								<input type="file" class="form-control" name="name" id="name"  placeholder="Enter your Name"
								file-model="problem.testCaseOutput" accept=".txt"/>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
        <div class="modal-footer">
          <button ng-if="!problem.id" type="button" class="btn btn-success" ng-click="saveProblem()">Add problem</button>
          <button ng-if="problem.id" type="button" class="btn btn-success" ng-click="saveProblem()">Update problem</button>
          <button type="button" class="btn btn-default" ng-click="closeForm()">Close</button>
        </div>
      </div>
      
    </div>
  </div>
</div>
