<div class="text-center">
	<div class="col-xs-12">
		<div class="col-md-2 hidden-xs"></div>
		<div class="col-md-4 col-sm-6">
			<a ui-sref="management.problems" style="color: rgb(51, 51, 51);"><span class="glyphicon glyphicon-book" style="font-size: 150px"/></a>
			<h3>{{'management.problems' | translate}}</h3>
			<p>{{'management.problems.title' | translate}}</p>
		</div>
		<div class="col-md-4 col-sm-6">
			<a ui-sref="management.contests" style="color: rgb(51, 51, 51);"><span class="glyphicon glyphicon glyphicon-duplicate" style="font-size: 150px"/></a>
			<h3>{{'management.contests' | translate}}</h3>
			<p>{{'management.contests.title' | translate}}</p>
		</div>
		<div class="col-md-2 hidden-xs"></div>
	</div>
</div>