<h1>List Contest</h1>
<div class="col-xs-12">
	<div class="col-xs-4">
		<a class="btn btn-primary" ng-click="createContest()">Add new Contest</a>
	</div>
	<div class="col-xs-4 pull-right">
	  <label for="search">items per page:</label>
	  <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
	</div>
</div>
 <table class="table table-bordered">
    <thead>
      <tr>
        <th>Short name</th>
        <th>Long name</th>
        <th>Description</th>
        <th>Start date</th>
        <th>Freeze date</th>
        <th>End date</th>
        <th>Self register</th>
        <th>Number member per team</th>
        <th>Number problem</th>
        <th>Number team</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr dir-paginate="contest in listContest | itemsPerPage: pageSize">
      	<td>
      		{{contest.shortName}}
      	</td>
      	<td>
      		{{contest.longName}}
      	</td>
      	<td>
      		{{contest.description}}
      	</td>
      	<td>
      		{{contest.startDate | date: 'dd/MM/yyyy hh:mm:ss'}}
      	</td>
      	<td>
      		{{contest.freezeDate | date: 'dd/MM/yyyy hh:mm:ss'}}
      	</td>
      	<td>
      		{{contest.endDate | date: 'dd/MM/yyyy hh:mm:ss'}}
      	</td>
      	<td>
      		{{contest.selfRegister}}
      	</td>
      	<td>
      		{{contest.numberMemPerTeam}}
      	</td>
      	<td>
      		{{contest.listProblem.length}}
      	</td>
      	<td>
      		{{contest.listTeam.length}}
      	</td>
      	
      	<td>
      		<a class="btn btn-primary" ng-click="updateContest(contest.id)">Edit</a>
      	</td>
      	<td>
      		<a class="btn btn-danger" ng-click="deleteContest(contest.id)">Delete</a>
      	</td>
      </tr>
	</tbody>
</table>
 <div class="text-center">
	<dir-pagination-controls boundary-links="true" on-page-change="" template-url="views/dirPagination.tpl.html"></dir-pagination-controls>
</div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="closeForm()">&times;</button>
          <h4 ng-if="!contest.id" class="modal-title">Add new contest</h4>
          <h4 ng-if="contest.id" class="modal-title">Update contest</h4>
        </div>
        <div class="modal-body">
			<div class="row main" style="margin: 0 15px;">
				<div class="main-login main-center" style="max-width: 100%;">
					<div class="form-group">
						<label for="name" class="cols-sm-2 control-label">Short name</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" name="name" id="name"  placeholder="Enter Contest's short name"
								ng-model="contest.shortName" required="required"/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="cols-sm-2 control-label">Long name</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" name="name" id="name"  placeholder="Enter Contest's long name"
								ng-model="contest.longName" required="required"/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="cols-sm-2 control-label">Description</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" name="name" id="name"  placeholder="Enter Contest's desciption"
								ng-model="contest.description" required="required"/>
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label for="name" class="cols-sm-2 control-label">Start date: dd-mm-yyyy hh:mm:ss</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" name="name" id="name"  placeholder="Start date"
								ng-model="contest.startDate" required="required" mask-input="99-99-9999 99:99:99" mask-input-placeholder="dd-mm-yyyy hh:mm:ss"/>
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label for="name" class="cols-sm-2 control-label">Freeze date: dd-mm-yyyy hh:mm:ss</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" name="name" id="name"  placeholder="Freeze date"
								ng-model="contest.freezeDate" required="required" mask-input="99-99-9999 99:99:99" mask-input-placeholder="dd-mm-yyyy hh:mm:ss"/>
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label for="name" class="cols-sm-2 control-label">End date: dd-mm-yyyy hh:mm:ss</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" name="name" id="name"  placeholder="End date"
								ng-model="contest.endDate" required="required" mask-input="99-99-9999 99:99:99" mask-input-placeholder="dd-mm-yyyy hh:mm:ss"/>
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label for="name" class="cols-sm-2 control-label">Number member per team</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
								<input type="number" class="form-control" name="name" id="name"  placeholder="Number member"
								ng-model="contest.numberMemPerTeam" required="required"/>
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label for="name" class="cols-sm-2 control-label">Self register</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
								 <md-checkbox ng-model="contest.selfRegister">
						           Self registry
						         </md-checkbox>
							</div>
						</div>
					</div>
					
				</div>
			</div>
        </div>
        <div class="modal-footer">
          <button ng-if="!contest.id" type="button" class="btn btn-success" ng-click="saveContest()">Add contest</button>
          <button ng-if="contest.id" type="button" class="btn btn-success" ng-click="saveContest()">Update contest</button>
          <button type="button" class="btn btn-default" ng-click="closeForm()">Close</button>
        </div>
      </div>
      
    </div>
  </div>
</div>
