<h3>{{'contest' | translate}}: {{contest.longName}} <a ui-sref="student.contest({contestID: contest.id})" style="font-size: small;">{{'studentboard.contest.detail' | translate}}</a></h3>
<h3>{{'team' | translate}}: {{team.name}}</h3>
<hr style="width:100%"/>
<h3 class="text-center">{{'studentsubmits.list.submits' | translate}}</h3>
<table class="table table-bordered">
    <thead>
      <tr bgcolor="#363636">
        <th style="width: 25%; white-space:nowrap; padding: 5px; text-align: center;">
		<font color="#fff">{{'studentsubmits.date.submit' | translate}}</font></th>
        <th style="width: 25%; white-space:nowrap; text-align: center;">
		<font color="#fff">{{'studentsubmits.problem' | translate}}</font></th>
        <th style="width: 25%; white-space:nowrap; text-align: center;">
		<font color="#fff">{{'studentsubmits.result' | translate}}</font></th>
        <th style="width: 25%; white-space:nowrap; text-align: center;">
		<font color="#fff">{{'studentsubmits.time.run' | translate}}</font></th>
      </tr>
    </thead>
    <tbody>
      	<tr ng-repeat="submit in listSubmit">
      		<td style="padding: 5px; text-align: center;">{{submit.dateSubmit | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
      		<td style="text-align: center;">{{submit.problemName}}</td>
      		<td style="text-align: center;" ng-class="{'problem-text-resolve':submit.resolve, 'problem-text-not-resolve':!submit.resolve}">{{submit.status}}</td>
      		<td style="text-align: center;">{{submit.timeToRun}}</td>
      	</tr>
	</tbody>
</table>