<h3>{{'contest' | translate}}: {{contest.longName}} <a ui-sref="student.contest({contestID: contest.id})" style="font-size: small;">{{'studentboard.contest.detail' | translate}}</a></h3>
<h3>{{'team' | translate}}: {{team.name}}</h3>
<hr style="width:100%"/>
<div class="col-xs-12">
	<div class="col-xs-6">
		<h1>{{'studentproblems.list.problem' | translate}}</h1>
		<ul>
			<li ng-repeat="problem in contest.listProblem">
				<a ng-click="openProblem(problem)" style="cursor: pointer;">{{problem.nameDisplay}}</a>
			</li>
		</ul>
	</div>
	<div class="col-xs-6">
		<h1 class="text-center">{{'studentproblems.submit.problem' | translate}}</h1>
		<form class="form-style-9">
			<ul>
				<li>
					<div class="form-group">
						<label for="name" class="cols-sm-2 control-label">{{'studentproblems.file' | translate}}</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
								<input type="file" class="form-control" name="name" id="name"  placeholder="File" required="required"
									file-model="submit.file"/>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="form-group">
						<label for="name" class="cols-sm-2 control-label">{{'studentproblems.problem' | translate}}</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
								<select ng-model="submit.idProblemForTeam" style="color: black;" class="form-control">
									<option ng-repeat="problem in contest.listProblem" ng-value="problem.id">{{problem.nameDisplay}}</option>
								</select>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="form-group">
						<label for="name" class="cols-sm-2 control-label">{{'studentproblems.submit' | translate}}</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<button ng-click="submitProblem()" class="btn btn-success">{{'studentproblems.submit' | translate}}</button>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</form>
	</div>
</div>