<h1>List submits</h1>
<p>{{team.name}}</p>
<table class="table table-bordered">
    <thead>
      <tr>
        <th style="width: 25%; white-space:nowrap;">Date submit</th>
        <th style="width: 25%; white-space:nowrap;">Problem</th>
        <th style="width: 25%; white-space:nowrap;">Result</th>
        <th style="width: 25%; white-space:nowrap;">Time to run</th>
      </tr>
    </thead>
    <tbody>
      	<tr ng-repeat="submit in listSubmit">
      		<td>{{submit.dateSubmit | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
      		<td>{{submit.problemName}}</td>
      		<td ng-class="{'problem-text-resolve':submit.resolve, 'problem-text-not-resolve':!submit.resolve}">{{submit.status}}</td>
      		<td>{{submit.timeToRun}}</td>
      	</tr>
	</tbody>
</table>