<h1 class="text-center">{{'studentcontest.detail' | translate}}</h1>
<ol style="list-style: none; font-size: 14px; line-height: 32px; font-weight: bold;">
<li style="clear: both;"><img style="float: left;" src="https://html-online.com/img/01-interactive-connection.png" alt="interactive connection" width="45" /> <p>{{'student.short.name' | translate}}: {{contest.shortName}}</p></li>
<li style="clear: both;"><img style="float: left;" src="https://html-online.com/img/02-html-clean.png" alt="html cleaner" width="45" /> <p>{{'student.long.name' | translate}}: {{contest.longName}}</p></li>
<li style="clear: both;"><img style="float: left;" src="https://html-online.com/img/03-docs-to-html.png" alt="Word to html" width="45" /> <p>{{'student.description' | translate}}: {{contest.description}}</p></li>
<li style="clear: both;"><img style="float: left;" src="https://html-online.com/img/04-replace.png" alt="replace text" width="45" /> <p>{{'student.start.date' | translate}}: {{contest.startDate}}</p></li>
<li style="clear: both;"><img style="float: left;" src="https://html-online.com/img/05-gibberish.png" alt="gibberish" width="45" /> <p>{{'student.freeze.date' | translate}}: {{contest.freezeDate}}</p></li>
<li style="clear: both;"><img style="float: left;" src="https://html-online.com/img/6-table-div-html.png" alt="html table div" width="45" /> <p>{{'student.end.date' | translate}}: {{contest.endDate}}</p></li>
</ol>