<h3>{{'contest' | translate}}: {{contest.longName}} <a ui-sref="student.contest({contestID: contest.id})" style="font-size: small;">{{'studentboard.contest.detail' | translate}}</a></h3>
<hr style="width:100%"/>
<h2 class="text-center">{{'scoreboard' | translate}}</h2>
<table class="table table-bordered">
    <thead>
      <tr  bgcolor="#363636">
        <th style="width: 5%; padding: 5px; text-align: center;">
		<font color="#fff">{{'studentboard.rank' | translate}}</font></th>
        <th style="width: 25%; white-space:nowrap; text-align: center;">
		<font color="#fff">{{'studentboard.team' | translate}}</font></th>
        <th style="width:1%; white-space:nowrap; text-align: center;">
		<font color="#fff">{{'studentboard.score' | translate}}</font></th>
        <th ng-repeat="problem in contest.listProblem" style="background-color: {{problem.color}};">{{problem.nameDisplay}}</th>
      </tr>
    </thead>
    <tbody>
      	<tr ng-repeat="team in contest.listTeam">
      		<td>{{team.rank}}</td>
      		<td style="width:1%; white-space:nowrap; padding: 5px; text-align: center;">{{team.name}}</td>
      		<td style="width:1%; white-space:nowrap; text-align: center;">{{team.totalProblemResolve + " / " + team.totalTimeToResolve}}</td>
      		<td ng-repeat="problemForTeam in team.listProblem" ng-class="{'problem-resolve': problemForTeam.resolve, 'problem-not-resolve': problemForTeam.listSubmit.length != 0 && !problemForTeam.resolve}">{{problemForTeam.listSubmit.length}}</td>
      	</tr>
	</tbody>
</table>