<h1 class="text-center">{{'studentcontest.detail' | translate}}</h1>
<h1 class="text-center"  style="font-family:courier; font-weight: bold;"> {{team.name}}</h1>
<ol style="list-style: none; font-size: 24px; line-height: 32px; list-style-type: square;">
<li style="clear: both;"><img style="float: left; " width="45"/> <p>{{'student.short.name' | translate}}: <font style="font-family:courier;"> {{contest.shortName}}</font></p></li>
<li style="clear: both;"><img style="float: left;" width="45" /> <p>{{'student.long.name' | translate}}: <font style="font-family:courier;">{{contest.longName}}</font></p></li>
<li style="clear: both;"><img style="float: left;" width="45" /> <p>{{'student.description' | translate}}: <font style="font-family:courier;">{{contest.description}}</font></p></li>
<li style="clear: both;"><img style="float: left;" width="45" /> <p>{{'student.start.date' | translate}}: <font style="font-family:courier;">{{contest.startDate}}</font></p></li>
<li style="clear: both;"><img style="float: left;" width="45" /> <p>{{'student.freeze.date' | translate}}: <font style="font-family:courier;">{{contest.freezeDate}}</font></p></li>
<li style="clear: both;"><img style="float: left;" width="45" /> <p>{{'student.end.date' | translate}}: <font style="font-family:courier;">{{contest.endDate}}</font></p></li>
</ol>